---
layout: default
---

<!-- HEADER

banner image by _convention_ ie /cat-thumbs/<cat name>.jpg ??

<div class="banner" style='background: url(/images/{{page.image}}) no-repeat center center;'>
	<div class="container">
		<div class="title">
			<h1>{{ page.fruitname }}</h1>
		</div>
	</div>
</div>
-->


<!-- CONTENT -->
<div class="container" style="padding-top: 2rem">

	<h1>{{ page.category | capitalize }}</h1>

	<div class="row">

		{% assign fruits = (site.data.fruits | where: "category",page.category ) %}
		{% for fruit in fruits %}
		<div class="col-lg-3 col-md-6 col-sm-12 pb-4" >
		  <div class="card" >
		    <img src="{{ fruit.image | prepend: "/images/"}}" class="card-img-top" alt="photo of {{ fruit.fruit }}">
		    <div class="card-body">
		      <h5 class="card-title">{{ fruit.fruitname }}</h5>
		      <p class="card-text">{{ fruit.blurb }}</p>
		    </div>
		    <div class="card-footer">
		      {% assign link = fruit.fruitname | remove: " " | downcase | prepend: "/fruits/"| append: ".html" %}
		      <a href="{{ link }}" class="btn btn-primary">Details <i class="fas fa-chevron-right"></i></a>
		    </div>
		  </div>
		</div>
		{% endfor %}

	</div>
</div>
