---
layout: default
---

<!-- HEADER -->
<div class="banner" style='background: url(/images/{{page.image}}) no-repeat center center;'>
	<div class="container">
		<div class="title">
			<h1>{{ page.fruitname }}</h1>
		</div>
	</div>
</div>


<!-- CONTENT -->
{% assign link = page.category | remove: " " | prepend: "/category/" | append: ".html" %}
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-9">

			<dl class="row">
			  <dt class="col-sm-2">origin</dt>
			  <dd class="col-sm-10">{{page.origin}}</dd>

				<dt class="col-sm-2">category</dt>
			  <dd class="col-sm-10"><a href="{{link}}">{{page.category}}</a></dd>

				<dt class="col-sm-2">colour</dt>
			  <dd class="col-sm-10">{{page.colour}}</dd>

			</dl>

			<p>{{page.blurb}}</p>

		</div>
  </div>
</div>
